body {
    width: 200px;
}
.switch-desc {
    width: 180px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}
.switch label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.switch input[type="checkbox"]:checked + label:before {
    transform: translateX(20px);
}
.switch input[type="checkbox"]:checked + label {
    background-color: #337ab7; /* blue color */
}

/* group list */


#group-list {
    display: table;
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    /* border: 1px solid #ccc; */
}

.table-header, .table-body {
    display: table-header-group;
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    /* padding: 15px; */
    /* border: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.table-header .table-cell {
    background-color: #f4f4f4;
    font-weight: bold;
}
